//전역 변수
@import './variables';

//전역 미디어 쿼리
@import './mixin';

/* 전역 스타일 및 CSS/SCSS 모듈 */
.wrapper {
  max-width: 1170px; // 부트스트랩은 1170px 사용. width 만 사용하게 되면 가로 스크롤 발생
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
}

//공통 button CSS
button {
  box-shadow: 2px 2px $black;
  transition: position 0.5s;
  background-color: $red;
  padding: 8px 20px;
  border: none;
  font-family: $font-Bebas-Neue;
  color: $background;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

button:active {
  box-shadow: 0px 0px;
  position: relative;
  text-decoration: none;
  top: 2px;
  left: 2px;
}

//Title
.title-1 {
  font-family: $font-Bebas-Neue;
  font-size: 36px;
  color: $red;
}

.title-2 {
  font-family: $font-Bebas-Neue;
  font-size: 20px;
  color: $black;
  margin: 0 10px;
}

.title-content {
  font-family: $font-Bebas-Neue;
  font-size: 30px;
  color: $black;
  margin-bottom: 15px;
}

//이미지 정사각형 자르기
.img-wrapper {
  position: relative;
  width: 350px;
  height: 300px;
}

.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  // filter: grayscale(100%);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.image-hover-effect {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.image-hover-effect:hover {
  filter: grayscale(0%);
}
