/* 전역 스타일 및 CSS/SCSS 모듈 */

// 색상
$grey: #222222;
$black2: #000000;

$white: #ffffff;
$background: #fcf4e5;
$red: #eb4d33;

//글꼴
// Bebas Kai 대체 font
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$font-Bebas-Neue: 'Bebas Neue', sans-serif;

// Palm Caryon Drive 대체 font
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
$font-Sacramento: 'Sacramento', cursive;

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
$font-Grand-Hotel: 'Grand Hotel', cursive;

// Georgia 대체 font
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital@0;1&display=swap');
$font-Tinos: 'Tinos', serif;
