/* 전역 스타일 및 CSS/SCSS 모듈 */

// 색상
$grey: #222222;
$black2: #000000;

$white: #ffffff;
$background: #fcf4e5;
$red: #eb4d33;

//글꼴
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// font-family: 'Bebas Neue', sans-serif;
$font-Bebas-Neue: 'Bebas Neue', sans-serif;
