@import 'global.scss';

.header-div {
  background-color: $background;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-link {
  display: flex;
  flex-direction: row;
  a {
    color: $black;
  }
  .link {
    margin: 0 10px;
    font-family: $font-Bebas-Neue;
  }
}

.logo {
  // margin: 0 15px;
  font-family: $font-Bebas-Neue;
  display: flex;
  align-items: center;
  gap: 3px;
  color: black;
}
