@import '../global.scss';

.ticket-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  font-family: $font-Bebas-Neue;
}

.ticket {
  position: relative;
  border: 2px solid $background;
  // border: 2px solid $white;
  background: $red;
  color: $background;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 1em 2em;
}
.ticket:before,
.ticket:after {
  height: 90px;
  width: 45px;
  content: '';
  position: absolute;
  top: 0.9em;
  top: calc(0.9em - 1px);
  height: 1.2em;
  width: 0.6em;
  border: 2px solid $background;
  background-color: $background;
}
.ticket:before {
  left: -2px;
  border-radius: 0 1em 1em 0;
  border-left-color: $background;
}
.ticket:after {
  right: -2px;
  border-radius: 1em 0 0 1em;
  border-right-color: $background;
}

.ticket:hover {
  text-decoration: underline;
}

.ticket:active {
  color: $black;
  background-color: $background;
  border: 2px solid $black;
}

.ticket:active::after {
  border: 2px solid $black;
  border-right-color: $background;
}
.ticket:active::before {
  border: 2px solid $black;
  border-left-color: $background;
}
