@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css';
@import 'https://fonts.googleapis.com/css?family=Oswald';
$ticket-height: 12.5rem;
$ticket-width: 30rem;
$black: #444;
$t: transparent;

*,
*::before,
*::after {
  box-sizing: border-box;
}
// body {
//   background: #eee;
//   color: $black;
// }

.ticket {
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 0.25rem $black;
  left: calc(50% - #{$ticket-width / 2});
  height: $ticket-height;
  overflow: hidden;
  position: absolute;
  top: calc(50% - #{$ticket-height / 2});
  width: $ticket-width;
}

.ticket-inner {
  box-shadow: 0 0 0 0.5rem $black;
  border-radius: 0.5rem;
  height: $ticket-height - 4rem;
  margin: 2rem 2.5rem;
  position: relative;
  width: $ticket-width - 5rem;
}

.ticket-headline {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
  svg {
    display: inline-block;
    height: 2rem;
    stroke: $black;
    transform: translateY(0.25rem);
    width: 2rem;
  }
}
// .ticket-star {
//   background: linear-gradient(to right, $t 25%, black 50%, $t 75%);
//   background-position: 0 50%;
//   background-repeat: no-repeat;
//   background-size: 100% 1px;
//   height: 1rem;
//   width: 100%;
//   text-align: center;
//   .fa-star-o {
//     background: white;
//     padding: 0 0.25rem;
//   }
// }
.ticket-admit {
  font-family: 'Oswald';
  font-size: 2rem;
  text-align: center;
  .char {
    @for $i from 1 through 9 {
      &:nth-of-type(#{$i}) {
        text-shadow: #{(-$i / 2) + 2 + px} 2px 0 #ccc;
      }
    }
  }
}
// .ticket-numbers {
//   $height: 5rem;
//   $width: 9rem;
//   border-top: 0.25rem solid $black;
//   color: lighten($black, 10%);
//   font-size: 1.25rem;
//   font-weight: bold;
//   left: 0;
//   letter-spacing: 0.25rem;
//   height: $height;
//   padding: 1.25rem;
//   position: absolute;
//   text-align: center;
//   top: 2.5rem;
//   transform: rotate(90deg) translate(-0.75rem, 3rem);
//   width: $width;
//   &.second {
//     transform: rotate(-90deg) translate(0.75rem, 19rem);
//   }
// }

[class*='ticket-edge'] {
  background: #eee;
  border: 0.25rem solid $black;
  border-radius: 50%;
  height: 3rem;
  position: absolute;
  width: 3rem;
}
[class*='top'] {
  top: -1rem;
}
[class*='bottom'] {
  top: calc(#{$ticket-height - 1rem});
}
[class*='left'] {
  left: -1rem;
}
[class*='right'] {
  right: -1rem;
}
.ticket-punches,
.ticket-punches-right {
  background: #eee;
  border: 0.25rem solid $black;
  border-radius: 50%;
  height: 2rem;
  left: -1rem;
  position: absolute;
  top: 6rem;
  width: 2rem;
  &::before,
  &::after {
    @extend .ticket-punches;
    content: '';
    display: block;
    left: -0.25rem;
    top: 0;
  }
  &::before {
    top: -2.25rem;
  }
  &::after {
    top: 1.75rem;
  }
}
.ticket-punches-right {
  left: 29rem;
}
