@import '../global.scss';

.search-result-title {
  display: flex;
  // flex-direction: ;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 30px;
  // background-color: aquamarine;
}

// .space-between {
//   justify-content: space-between;
// }

.one-movie-div {
  padding: 10px 0;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  // @include tablet {
  //   grid-template-columns: 1fr;
  // }
  @include mobile {
    grid-template-columns: 1fr;
  }

  .date-div {
    border-bottom: 1px solid $black;
    font-family: $font-Bebas-Neue;
    font-size: 30px;
    color: $red;
    margin-bottom: 5px;
  }

  .movie-search-data {
    font-family: $font-Tinos;
    margin-bottom: 5px;

    .search-detail-title {
      color: $grey;
      opacity: 70%;
    }
  }

  .movie-btn-flex {
    @include mobile {
      margin-top: 15px;
    }
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.search2 {
  position: absolute;
  left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: $background;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search2:focus {
  width: 300px; /* 검색 창 크기 */
  // width: 100%; /* 검색 창 크기 */
  @include mobile {
    width: 200px; /* 검색 창 크기 */
  }
  // padding: 0 16px 0 0;
  margin-top: 3px;
  background-color: #292323;

  border-radius: 10px;
  opacity: 0.9;
  color: $red;
}
// Title 반응형 컨트롤

.SearchResult-page-title {
  font-family: $font-Bebas-Neue;
  font-size: 36px;
  color: $red;
  @include mobile {
    font-size: 25px; /* 검색 창 크기 */
  }
}

.title-no-result {
  font-family: $font-Bebas-Neue;
  font-size: 30px;
  color: $black;
  margin-bottom: 15px;
  @include mobile {
    font-size: 15px; /* 검색 창 크기 */
  }
}
